# Temp files
.DS_Store
*~

# Caches
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/

# IDEs
/.idea/
/.vscode/

# Environments
.env
.venv
env/
venv/

# Datasets
data
archive.zip
CUHK-PEDES.tar.gz

# CLIP
.cache

# Profiling
profile.pstats
open_clip_smoke_test.py.lprof

# Weaviate
weaviate-data
output

# Notebook
.ipynb_checkpoints

# Databases
experiments.db